<div class="text-center mb-4">
    <h1>Hello Member</h1>
</div>

<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-primary btn-block h-100" href="/Members/Details/@ViewBag.CurrentUserId">View Profile</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary btn-block h-100" href="/Shopping/Index">Shoppings</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary btn-block h-100" href="/Orders/OrdersOfMember">Order History</a>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center mt-3">
    <div class="col-md-4 text-center">
        <form method="post" asp-action="Logout">
            <button type="submit" class="btn btn-danger btn-block">Logout</button>
        </form>
    </div>
</div>
